body {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
  }
  p {
    color: red;
    font-family: courier;
    font-size: 160%;
    border: 2px solid powderblue;
    text-align: center;
    padding: 30px;
    margin: 50px;
  }
  table, th, td {
    border: 1px solid black;
    /* border-collapse: collapse; */
  }
  th, td {
    background-color: chocolate;
  }